<!DOCTYPE html>
<html  lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" / />
	<title>SACI - Tela de Administrador</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/adminpage.css" />
	<link href="css/adminpage.css" type="text/css" media="screen" rel="stylesheet" />
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script>
		var regAspas = /\'(.*?)\'/g;
		var errWords=new Array();
		var nome, descricao, sala, bloco, tags=[], jsonTags;
	</script>
	<script>
		$(document).ready(function() { // Captura o retorno JSON do PHP
			$.getJSON('../controller/AutoCompleteController.php', function(data) {
				var words = [];
				words = data;
				$('#ItemNome').autocomplete({
					source: words,
					minLength: 2
				});
			});
		});
	</script>
	<script>
		function getValues(){
			nome = $("#itemNome").val();
			descricao = $("#itemDescricao").val();
			if(descricao==""){
				descricao = "Nenhuma descrição.";
			}
			sala = $("#itemSala").val();
			bloco = $("#itemBloco").val();
			getTagValues();
		}

		function verifValues(){
			if(nome=="" || sala=="" || bloco =="" || tags =="")
				return(true);
		}

		function getTagValues(){
			for(var j = 1; j<x; j++){
				if(!$("#tag"+j+"").val().toLowerCase() == ""){
					tags.push($("#tag"+j+"").val().toLowerCase());
				}
			}
			jsonTags = JSON.stringify(tags);
		}

		function clearlAllValues(){
			nome=descricao=sala=bloco=jsonTags=tags="";
			tags=[];
		}

		function errTreatmentDuplicateKey(){
			/*
			* Função de tratamento para erro de chave duplicada no banco, ela irá verificar os campos que possuem a ocorrência e irá "pintar" os input
			* mostrando ao usuário o problema.
			*/
			var totalErr = errWords.length/2; // pq a msg sempre vem com tamanho duplicado
			var ctrl=0; // variável para controlar o total de campos a serem marcados
			errWords.forEach(function(valor){  // aqui vamos começar a olhar, campo a campo, qual tag pode ter dado problema
				for(var j=x-1; j>0; j--){ // irá começar no último campo, porém o x sempre tem 1 valor a mais, por isso -1
					var val = "'"+$("#tag"+j+"").val().toLowerCase()+"'";
					if(val == valor){  // comparação
						if(ctrl != totalErr){
							ctrl++;
							$("#tag"+j+"").addClass("alert-warning"); // "pinta" o input com essa classe
						}
					}
				}
			});
		}
	</script>
	<script>
		function insert(){
			getValues();
			if(!verifValues()){
				$.post("../controller/AdminInsertController.php",
				{
					itemNome: nome,
					itemDescricao: descricao,
					itemSala: sala,
					itemBloco: bloco,
					itemTag: jsonTags
				},
				function(data,status){ //pega o retorno do php
					if(data == ""){ // se a data estiver vazia, então deu certo a inserção de todas as tags
						document.getElementById("MensagemModal").innerHTML = "Ta tudo certo";
						$("#Modal").modal();
						$('input').removeClass("alert-warning");
					}else{ // aqui vamos verificar o que deu erro e aonde deu erro
						if(data.search("inventario_key_UNIQUE")>0){  // existe alguma tag repetida
							errWords = data.match(regAspas);
							errTreatmentDuplicateKey();  // chama a função de tratamento para este erro
						}/*else if(){ // algum outro erro

						}*/
						document.getElementById("MensagemModal").innerHTML = data;
						$("#Modal").modal();
					}
					clearlAllValues();
				});
			}else{
				document.getElementById("MensagemModal").innerHTML = "ERRO!!!!!!!!";
				$("#Modal").modal();
			}
		}
	</script>
	<script>
		var i = 2;
		var x = 2;
		$(document).ready(function(){  // onde a magia dos campos dinâmicos acontece
			$("#AddFields").click(function(e){
				e.preventDefault();
				if(i < 10){
					$("#TagsNovas").append('<div><br /><label>Tag:</label> <input id="tag'+i+'" class="formTagsControl form-control "> <i id="DelFields" class="remove glyphicon glyphicon-minus btn btn-danger btn-circle"></i></input></div>');
					i++; x++;
				}
			});
			$("#TagsNovas").on("click", ".remove", function(e){
				e.preventDefault();
				$(this).parent('div').remove();
				i--;
			});
		});
	</script>
</head>

<body>
	<div class="godDiv godDivBorder">
		<p class="title giant-title titleAlign textCenter">
			Administrador de Sistema
		</p>
		<p class="title high-title Align textCenter">
			Inserir itens de inventário no Banco de Dados
		</p>
		<div class="clear"></div>

        <br/>

        <br/>

        <div class="container">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="form-horizontal">
                        <div class="col-xs-2 formstyle">
                            <label for="nome">Nome do item:</label>
                        </div>
                        <div class="col-xs-2">
                            <input id="itemNome" type="text" class="form-control" placeholder="Ex.: Nome"/>
                        </div>

                        <div class="col-xs-1 formstyle">
                            <label for="itemBloco">Bloco:</label>
                        </div>
                        <div class="col-xs-3">
                            <input id="itemBloco" type="text" class="form-control" placeholder="Ex.: Bloco K"/>
                        </div>

                        <div class="col-xs-1 formstyle">
                            <label for="itemSala">Sala:</label>
                        </div>
                        <div class="col-xs-3">
                            <input id="itemSala" type="text" class="form-control" placeholder="Ex.: K000"/>
                        </div>
                                                
                        <br/>
                        <br/>
                        <br/>
                        
                        <div class="col-xs-2 formstyle">
                            <label for="tag">Tag:</label>
                        </div>
                        
                        <div class="col-xs-4">
                            <input id="tag" type="text" class="form-control" placeholder="Ex.: 00000000"/>
                        </div>
                        
                        <div class="col-xs-2 formstyle">
                            <label for="descricao">Descrição:</label>
                        </div>
                        
                        <div class="col-xs-4">
                            <input id="descricao" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>

					 <div id="TagsNovas" class="addTags"> <!-- ADD tags DIV -->
						<p></p>
					 </div>
					 <div style="background-color: white" class="errLabel">
						 <br />
						<p id="ErrLabel">Preciso dessa div aqui, alinha! kk meio que não sei usar essas conf do BS, só sei fazer no dedo. Me pergunte sobre, explico melhor lá</p>
					 </div>
                <div style="float:left">
                    <br/>
                    <button id="AddFields" type="button" data-toggle="tooltip" title="Adicionar campo" class="glyphicon glyphicon-plus btn btn-success"></button>
                </div>

                <div style="float:left">
                    <br/>
                    <button type="button" class="btn btn-success" onclick="insert();">Adicionar item</button>
                    <a class="pull-right btn btn-success" href="javascript:window.history.go(-1)">Voltar</a>
                </div>
            </div>
        </div>
    </div>

	<!--- MODAL DE DEBUG -->
	  <div class="modal fade" id="Modal" role="dialog">
			<div class="modal-dialog">
			  <!-- Conteudo do modal-->
			  <div class="modal-content">
				  <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal">&times;</button>
					 <h4 class="modal-title"></h4>
				  </div>
				  <div id="MensagemModal" class="modal-body">
					<p></p>
				  </div>
				  <div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				  </div>
			  </div>
			</div>
	  </div>
</body>
</html>
