<!DOCTYPE html>
<html  lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" / />
	<title>SACI - Tela de Administrador</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/adminpage.css" />
	<link href="css/adminpage.css" type="text/css" media="screen" rel="stylesheet" />
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script>
		var regAspas = /\'(.*?)\'/g;
		var errWords=new Array();
		var nome, descricao, sala, bloco, tags=[], jsonTags;
		var blocoS, salaS;
	</script>
	<script>
		$(document).ready(function() { // Captura o retorno JSON do PHP
			$.getJSON('../controller/AutoCompleteController.php', function(data) {
				var words = [];
				words = data;
				$('#itemNome').autocomplete({
					source: words,
					minLength: 2
				});
			});
		});
	</script>
	<script>
		$(document).ready(function(){
			$.post("../controller/LocationController.php",
		{
			operation: 1
		},
			function(data,status){
				$("#itemBloco").append(data);
			});
		});
		function getRoomz(){
			getBlockValue();
			document.getElementById('itemSala').disabled = false;
			$.post("../controller/LocationController.php",
		{
			operation: 2,
			bloco: blocoS
		},
			function(data, status){
				document.getElementById("itemSala").innerHTML = data;
			});
		}
		function getBlockValue(){
			var x = document.getElementById("itemBloco");
			var i = x.selectedIndex;
			blocoS = x.options[i].text;
		}

		function getRoomValue(){
			var x = document.getElementById("itemSala");
			var i = x.selectedIndex;
			salaS = x.options[i].text;
		}
	</script>
	<script>
		function getValues(){
			getRoomValue();
			getBlockValue();
			//if($("#itemNome").val() == ""){
				nome = $("#itemNome").val();
			//}
			descricao = $("#itemDescricao").val();
			if(descricao==""){
				descricao = "Nenhuma descrição.";
			}
			sala = salaS;
			bloco = blocoS;
			getTagValues();
		}

		function verifValues(){
			if(nome=="" || sala=="" || bloco =="" || tags =="")
				return(true);
		}

		function getTagValues(){
			for(var j = 1; j<x; j++){
				if(document.getElementById("tag"+j+"")){
					if(!$("#tag"+j+"").val() == ""){
						tags.push($("#tag"+j+"").val().toLowerCase());
					}
				}
			}
			jsonTags = JSON.stringify(tags);
		}

		function clearlAllValues(){
			nome=descricao=sala=bloco=jsonTags=tags="";
			tags=[];
		}

		function errTreatmentDuplicateKey(){
			/*
			* Função de tratamento para erro de chave duplicada no banco, ela irá verificar os campos que possuem a ocorrência e irá "pintar" os input
			* mostrando ao usuário o problema.
			*/
			var totalErr = errWords.length/2; // pq a msg sempre vem com tamanho duplicado
			var ctrl=0; // variável para controlar o total de campos a serem marcados
			errWords.forEach(function(valor){  // aqui vamos começar a olhar, campo a campo, qual tag pode ter dado problema
				for(var j=x-1; j>0; j--){ // irá começar no último campo, porém o x sempre tem 1 valor a mais, por isso -1
					console.log("X: "+x+"/I: "+i);
					if(document.getElementById("tag"+j+"")){
						var val = "'"+$("#tag"+j+"").val().toLowerCase()+"'";
						console.log(val, valor);
						if(val == valor){  // comparação
							if(ctrl != totalErr){
								console.log("pinta tag "+j);
								ctrl++;
								$("#tag"+j+"").addClass("alert-danger"); // "pinta" o input com essa classe
							}
						}
					}
				}
			});
		}
	</script>
	<script>
		function insert(){
			getValues();
			console.log(nome, descricao, sala, bloco, jsonTags, tags);
			if(!verifValues()){
				$.post("../controller/AdminInsertController.php",
				{
					itemNome: nome,
					itemDescricao: descricao,
					itemSala: sala,
					itemBloco: bloco,
					itemTag: jsonTags
				},
				function(data,status){ //pega o retorno do php
					if(data == ""){ // se a data estiver vazia, então deu certo a inserção de todas as tags
						document.getElementById("MensagemModal").innerHTML = "Itens inseridos com sucesso.";
						$("#Modal").modal();
						$('input').removeClass("alert-warning");
					}else{ // aqui vamos verificar o que deu erro e aonde deu erro
						if(data.search("inventario_key_UNIQUE")>0){  // existe alguma tag repetida
							errWords = data.match(regAspas);
							errTreatmentDuplicateKey();  // chama a função de tratamento para este erro
							document.getElementById("MensagemModal").innerHTML = "Tag duplicada no sistema. Verifique os campos em vermelho.";
							$("#Modal").modal();
						}/*else if(){ // algum outro erro

						}*/
						/*document.getElementById("MensagemModal").innerHTML = data;
						$("#Modal").modal();*/
					}
					clearlAllValues();
				});
			}else{
				document.getElementById("MensagemModal").innerHTML = "Ocorreu um problema, verique os campos digitados.";
				$("#Modal").modal();
			}
		}
	</script>
	<script>
		var i = 2;
		var x = 2;
		$(document).ready(function(){  // onde a magia dos campos dinâmicos acontece
			$("#AddFields").click(function(e){
				e.preventDefault();
				if(i < 10){
					$("#TagsNovas").append('<div><br /><label class="textLabel">Tag:</label> <input id="tag'+x+'" class="formTagsControl form-control" placeholder="0f0f0f0f0f" pattern="[a-fA-F0-9]{10}"> <i id="DelFields" class="remove glyphicon glyphicon-minus btn btn-danger btn-circle"></i></input></div>');
					i++; x++;
				}
			});
			$("#TagsNovas").on("click", ".remove", function(e){
				e.preventDefault();
				$(this).parent('div').remove();
				i--;
			});
		});
	</script>
</head>

<body>
	<div class="godDiv godDivBorder myPadding">
		<p class="title giant-title titleAlign textCenter">
			Administrador de Sistema
		</p>
		<p class="title high-title Align textCenter">
			Inserir itens de inventário no Banco de Dados
		</p>
		<div class="clear"></div>

		<hr />
		<div>

			<div id="linha1">
				<div class="form-group alignFloat col-sm-4" style="width:50%">
					<label class="textLabel">Nome do item:  </label>
					<input id="itemNome" class="form-control myFormStyle" placeholder="Martelo" required/>
				</div>

				<div class="form-group alignFloat col-sm-3">
					<label class="textLabel">Bloco: </label>
					<select onchange="getRoomz()" id="itemBloco" class="selectpicker form-control miniForm">
						<option disabled selected>Escolha...</option>
					</select>
				</div>

				<div class="form-group alignFloat col-sm-3">
					<label class="textLabel">Sala: </label>
					<select id="itemSala" class="selectpicker form-control miniForm" disabled>
					</select>
				</div>
			</div>
			<div class="clear"></div>

			<div id="linha2">
				<div class="form-group alignFloat col-sm-3" >
					<label class="textLabel">Tag: </label>
					<input id="tag1" class="form-control myFormStyle" placeholder="0f0f0f0f0f" pattern="[a-fA-F0-9]{8}"/>
				</div>

				<div class="form-group col-sm-9">
					<label class="textLabel">Descrição: </label>
					<input id="itemDescricao" class="selectpicker form-control formInline" style="width: 81%" placeholder="Padrão: Nenhuma descrição."/>
				</div>
			</div>
			<div class="clear"></div>

		</div>
			<div id="TagsNovas" class="addTags"> <!-- ADD tags DIV -->
				<p></p>
			 </div>

					 <div class="col-sm-9 form-group " style="padding-right: 8%">
						<div>
	                    <button id="AddFields" type="button" data-toggle="tooltip" title="Adicionar campo" class="glyphicon glyphicon-plus btn btn-default"></button>
							  <a class="btn btn-default alignRight" style="margin-left: 10%" href="javascript:window.history.go(-1)">Voltar</a>
							  <button onclick="insert();" class="btn btn-default alignRight">Adicionar item</button>
	               </div>

						<div style="background-color: white" class="errLabel">
						 <p id="ErrLabel"></p>
					  </div>
					 </div>
					<div class="clear"></div>
            </div> <!-- god div -->
        </div>
    </div>

	<!--- MODAL DE DEBUG -->
	  <div class="modal fade" id="Modal" role="dialog">
			<div class="modal-dialog">
			  <!-- Conteudo do modal-->
			  <div class="modal-content">
				  <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal">&times;</button>
					 <h4 class="modal-title"></h4>
				  </div>
				  <div id="MensagemModal" class="modal-body">
					<p></p>
				  </div>
				  <div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				  </div>
			  </div>
			</div>
	  </div>
</body>
</html>
