<!DOCTYPE html>
<html  lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" / />
	<title>SACI - Tela de Administrador</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link href="css/adminpage.css" type="text/css" media="screen" rel="stylesheet" />
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script>
		$(document).ready(function() { // Captura o retorno JSON do PHP
			$.getJSON('../controller/AutoCompleteController.php', function(data) {
				var words = [];
				words = data;
				$('#ItemNome').autocomplete({
					source: words,
					minLength: 3
				});
			});
		});
	</script>
	<script>
		var nome, descricao, sala, bloco, tag;
		function getValues(){
			nome = $("#itemNome").val();
			descricao = $("#itemNome").val();
			if(descricao==""){
				descricao = "Nenhuma descricao.";
			}
			sala = $("#itemSala").val();
			bloco = $("#itemBloco").val();
			tag = $("#itemTag").val();
		}
	</script>
	<script>
		function insert(){
			getValues();
			$.post("../controller/AdminInsertController.php",
			{
				itemNome: nome,
				itemDescricao: descricao,
				itemSala: sala,
				itemBloco: bloco,
				itemTag: tag
			},
		function(data,status){
			document.getElementById("MensagemModal").innerHTML = data;
			$("#Modal").modal();
		});
		}
	</script>
	<script>
		$(function(){
			var i = 1;
			$("#AddFields").click(function(){
				var line = $('<div><p>Só pra testar</p></div>').appendTo("#inputs");
				i++;
			});
		});
	</script>
</head>

<body>
	<div class="godDiv godDivBorder">
		<p class="title giant-title titleAlign textCenter">
			Administrador de Sistema
		</p>
		<p class="title high-title Align textCenter">
			Inserir itens de inventário no Banco de Dados
		</p>
		<div class="clear"></div>

        <br/>

        <br/>

        <div class="container">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10">

                    <div class="form-horizontal">
                        <div class="col-xs-1">
                            <label for="nome">Nome do item</label>
                        </div>
                        <div class="col-xs-2">
                            <input id="nome" type="text" class="form-control" placeholder="Ex.: Nome"/>
                        </div>

                        <div class="col-xs-1 myFormStyle">
                            <label for="bloco">Bloco</label>
                        </div>
                        <div class="col-xs-2">
                            <input id="bloco" type="text" class="form-control" placeholder="Ex.: Bloco K"/>
                        </div>

                        <div class="col-xs-1 myFormStyle">
                            <label for="sala">Sala</label>
                        </div>
                        <div class="col-xs-2">
                            <input id="sala" type="text" class="form-control" placeholder="Ex.: K000"/>
                        </div>

                        <div class="col-xs-1 myFormStyle">
                            <label for="tag">Tag</label>
                        </div>
                        <div class="col-xs-2">
                            <input id="tag" type="text" class="form-control" placeholder="Ex.: 00000000"/>
                        </div>
                    </div>

                    <br/>
                    <br/>
                    <br/>
                    <br/>

                    <label for="descricao">
                        Descrição
                    </label>
                    <br/>
                    <div>
                        <input class="form-control" id="descricao"/>
                    </div>
                </div>

                <div class="col-xs-offset-1 col-xs-10">
                    <br/>
                    <button type="button" data-toggle="tooltip" title="Adicionar campo" class="glyphicon glyphicon-plus btn btn-success"></button>
                </div>

                <div class="col-xs-offset-1 col-xs-10">
                    <br/>
                    <button type="button" class="btn btn-success">Adicionar item</button>

                    <a class="pull-right btn btn-success" href="javascript:window.history.go(-1)">Voltar</a>
                </div>
            </div>
        </div>
    </div>

	<!--- MODAL DE DEBUG -->
	  <div class="modal fade" id="Modal" role="dialog">
			<div class="modal-dialog">
			  <!-- Conteudo do modal-->
			  <div class="modal-content">
				  <div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal">&times;</button>
					 <h4 class="modal-title"></h4>
				  </div>
				  <div id="MensagemModal" class="modal-body">
					<p></p>
				  </div>
				  <div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				  </div>
			  </div>
			</div>
	  </div>
</body>
</html>
