<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>SACI - Tela de Ajuda</title>

	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link href="css/ajuda.css" type="text/css" media="screen" rel="stylesheet" />
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('div.panel-collapse').on('show.bs.collapse', function(){
                $(this).parent().find('span.glyphicon-plus-sign').removeClass('glyphicon-plus-sign').addClass('glyphicon-minus-sign');
            });
            
            $('div.panel-collapse').on('hide.bs.collapse', function(){
                $(this).parent().find('span.glyphicon-minus-sign').removeClass('glyphicon-minus-sign').addClass('glyphicon-plus-sign');
            });
        })
    </script>
    
</head>
<body>
	<div class="godDiv godDivBorder">
		<h1 class="text-center title">Ajuda ao Usuário</h1>

		<hr/>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span class="glyphicon glyphicon-minus-sign"></span>
                        Tópico #1
                        </a>
                    </h4>
                </div>
                
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Texto texto texto texto texto texto.
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span class="glyphicon glyphicon-plus-sign"></span>
                        Tópico #2
                        </a>
                    </h4>
                </div>
                
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Texto texto texto texto texto texto.
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span class="glyphicon glyphicon-plus-sign"></span>
                        Tópico #3
                        </a>
                    </h4>
                </div>
                
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        Texto texto texto texto texto texto.
                    </div>
                </div>
            </div>
        
        </div>
		
    </div>
</body>
</html>
