#parent{
	 float: left; width: 100%
}

.alignFloat{
	float: left
}

.textLabel{
	color: white;
	font-size: 100%;
	text-shadow: 1px 1px black;
}

.alignRight{
	float: right;
}

.form-control{
	height: 90%;
}

.formInline{
	display: inline-block;
}

.addTags{
	width: 25%;
	float: left;
	padding-left: 2%;
}

.myPadding{
	position: relative;
	padding-left: 3%;
	padding-right: 3%
}


.errLabel{

}

.miniFormDiv{
	width: 25%;
}

.miniForm{
	position: relative;
	width: 55%;
	display: inline-block;
}

.myFormStyle {
	position: relative;
	width: 60%;
	display: inline-block;
}

.formTagsControl{
	width: 58%;
	display: inline-block;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
