[cc lang=”css”]{ / /* Responsivo */
	Styles
	@media only screen
	and (min-width : 1224px)
}

.infoGroup{
	background-color: #24c116;

	width: 1308px;
	height: 70px;
	margin: 0 auto;

	position: relative;
	/*left: 50px;*/
	top: 30%;
}

.boxInfos{
	border-radius: 20px;
	box-shadow: 1px 3px 3px 1px #034d27;
}

.textInfos{
	position: relative;
	left: 20px;
	top: 10px;
	font-family: 'Code Bold';
}

.textFontSize{
	font-size: 17px;
}

.titleAlign{
	position: relative;
	left: auto;
	top: 20%;
}

.myBtn{
	width: 130px;
}

.sairAlign{
	position: relative;
	top: 570px;
	left: 90%;
}
