[cc lang=”css”]{ / /* Responsivo */
	Styles
	@media only screen
	and (min-width : 1224px)
}

#parent{
	overflow:hidden;
}

#lineHr{
	width:100%;
	border-bottom: 2px dashed #000000;
}

.infoGroup{
	background-color: #1C8C1C;

	/*width: 1308px;
	height: 70px;*/
	width: 100%;
	height: 5%;
	margin: 0 auto;

	position: relative;
	/*left: 50px;*/
	top: 30%;
	padding-bottom: 1%;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.boxInfos{
	border-radius: 20px;
	box-shadow: 0px 3px 0px #000000;
}

.textColor{
	color: #ffffff;
}

.textInfos{
	position: relative;
	margin-left: auto;
	margin-top: auto;
	font-family: 'Phenomena';
	text-shadow: 1px 1px black;
}

.textFontSize{
	font-size: 25px;
}

.titleAlign{
	position: relative;
	left: auto;
	top: 20%;
}

.floatLeft{
	position: relative;
	float:left;
}

.myBtn{
	width: 140px;
}

.modalBtn{
	width: 24%;
}

.sairAlign{
	position: relative;
	top: 570px;
	left: 90%;
}

.inputControl{
	width: 700px;
	height: 30px;
}

.divSearch{
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
}

.godDiv{
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	background-color: #18784F;
	padding-bottom: 1%;
}

.godDivBorder{
	border-radius: 50px;
	box-shadow: 2px 5px 5px 1px #034d27;
}

.btnDiv{
	width: 35%;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

.modalDivRelPadrao{
	width: 88%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.modalTitleCenter{
	width: 39%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.relP{
	position: relative;
	width: 13.5%;
	margin-left: auto;
	margin-right: auto;
}

.alignDrop{
	position: relative;
	margin-right: 10%;
	margin-left: 67%;
}
