[cc lang=”css”]{ /
	Styles
	@media only screen
	and (min-width : 1224px)
}

.inputControl{
	width: 300px;
	height: 30px;
}

.text{
	color: #ffffff;
	text-shadow: 1px 1px black;
}


.minInfo{
	font-size: 10px;
}

.errLabel{
	color: #96030d;
}

.check{
	width: 10px;
	height: 10px;
}

DIV.centerFull{
	position: relative;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

DIV.centerTop{
	position: relative;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.myBtn{
	width: 148px;
}
