.centerTable{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.styleBasic{
	text-align: center;
}

.cel-width{
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 1px black
}

.dataTables_wrapper{
	margin: auto;
	padding-top: 1%;
}

.tableDiv{
	position: relative;
	padding-left: 5%;
	padding-right: 5%;
}

.dataTables_wrapper .dataTables_filter {
   color:#ffffff !important;
	text-shadow: 1px 1px 1px black;
   text-align: right;
}

.dataTables_wrapper .dataTables_length {
	color: #ffffff;
	text-shadow: 1px 1px 1px black;
   text-align: right;
}

select{
	color: #000000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
   color:#ffffff !important;
	text-shadow: 1px 1px 1px black;
   text-align: right;
}

.dataTables_wrapper .dataTables_info {
   color:#ffffff !important;
	text-shadow: 1px 1px 1px black;
   text-align: right;
}

/*

.dataTables_filter input{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*
